@using Microsoft.AspNetCore.Components;
@inherits BookingResponseCode;

@if (showYesResponsePanel)
{
    <div style="background-color:lightgray;">
        <div style="padding:1vw;">
            Select an instrument you will play on this gig:
            <select @onchange="GigInstrumentSelected" size="10" style="width:100%;">
                @foreach (var instrument in MusiciansInstruments)
                {
                    <option value="@instrument.InstrumentId">
                        @instrument.Name
                    </option>
                }
            </select>
        </div>
    </div>
}
else if (showNoResponsePanel)
{
    <div style="background-color:lightgray;">
        <div style="padding:1vw;">
            Reason for declining:
            <input @bind="@responseReason" type="text" style="width:100%;" />
            <br />
            <button @onclick="ReasonGivenForDecliningGig">Confirm</button>
            &nbsp;
            <button @onclick="CancelReasonGivenForDecliningGig">Cancel</button>
        </div>
    </div>
}
